<div class="div-wrapper">
<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h4>Login</h4>
    <div class="login-field-wrapper">
        <label for="user-name">UserName: </label>
        <input class="login-field" id="user-name" type="text" formControlName="userName" placeholder="Enter User Name">
    </div>
    <div class="login-field-wrapper">
        <label for="password">Password: </label>
        <input class="login-field" id="password" type="password" formControlName="password" placeholder="Enter Password">
    </div>
    <div class="submit-wrapper">
        <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Log In</button>
    </div>
</form>
</div>