.div-wrapper {
    display: flex;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
    border: 1px solid black;
    border-radius: 14px;    
    box-shadow: inset 0 2em 3em rgba(189, 195, 199, 1), 0 0 0 2px rgb(189, 195, 199, 1), 0.3em 0.3em 1em rgba(189, 195, 199, 1);
    width: 40%;
}

.login-field-wrapper {
    padding: 20px;
    font-weight: 500;
    font-family: cursive;    
    display: flex;
    flex-direction: column;
}

.login-field {
    border-radius: 6px;
    height: 30px
}

.submit-wrapper {
    padding: 20px;
}

.submit-btn {    
    cursor: pointer;
    font-size: 23px;
    border-radius: 5px;
}