<div>
    <hr>
    <h1 style="text-align: center;">Body Temperature Readings  </h1>
      <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Reading</th>
                <th scope="col">Timestamp</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reading of readingList">
                <td>{{reading.reading}}</td>
                <td>{{reading.timestamp}}</td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</div>

